@import "bootstrap-sprockets";
@import "bootstrap";
@import "responsive";
@import "font-awesome";
@import "alumnos";


body {
	padding-top: 70px
}

.page-header{
	position:relative;
	padding-bottom:0px;
	
	&:first-child{
		margin-top: 20px;
	}

	h1,h2,h3,h4,h5,h6{
		max-width: 55%
	}
}


ul.actions{
	@extend .list-unstyled;
	@extend .list-inline;
	position: absolute;
}

@mixin fa-icon($icon) {
  @extend .fa;
  @extend .fa-#{$icon};

}

a.new, a.edit, a.delete,.search,a.deactivate, a.activate{
	@extend .btn;

	&:before{
		font-family:"FontAwesome";
		padding-right: 0.5em;
	}


}

.search {
	@extend .btn-primary;
	
	&:before{
		 @include fa-icon(search);
	}
	
}

a.new {
	@extend .btn-success;
	
	&:before{
		 @include fa-icon(plus);
	}
	
}

a.edit {
	@extend .btn-primary;
	
	&:before{
		 @include fa-icon(pencil);
	}
}

a.delete {
	@extend .btn-danger;
	
	&:before{
		 @include fa-icon(trash);
	}
}

a.deactivate {
	@extend .btn-warning;
	
	&:before{
		 @include fa-icon(power-off);
	}
}

a.activate {
	@extend .btn-warning;
	
	&:before{
		 @include fa-icon(circle-o-notch);
	}
}

header {
	@extend .page-header;
	position: relative;
	padding-bottom: 0px;
	
	&:first-child{
		margin-top: 20px;
	}
}

.alert-notice{
	@extend .alert-success;
}

.alert-alert{
	@extend .alert-danger;
}

form {
	max-width:500px;
}
.form-inline {
    padding: 10px 10px 10px 0px;
	max-width:100%;
}
.form-inline > * > * {
    margin-right: 15px !important;
}

.form-inline > * {
    padding-top: 20px !important;
}

.tab-content{
	padding: 20px;
}

ul.tab-actions{
	@extend .list-unstyled;
	@extend .list-inline;
	padding: 10px;
}
